@charset "utf-8";

@use "github-gist.scss";

@use "bulma";

// Override bulma style for code blocks to works with react-shiki
#shiki-container.content pre {
    padding: unset;
}

#shiki-container,pre {
    padding: unset;
	border-radius: var(--bulma-radius-medium);
}

// @forward "bulma-quickview";
